* {
	box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#gerenciador {
	width: 100%;
	height: 100%;
	padding: 2em;
}

#gerenciador > h1 {
	margin: 0;
	color: #333;
	font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
}

#box-processos {
	overflow-x: scroll;
}

#processos {
	display: -webkit-box;
	width: 435px;
}

#processos .ui.card {
	width: 200px;
}

div[data-tab="Entrada"] {
	padding-top: 10px;
}

#btn-executar {

}

.row.info {
	padding-bottom: 0 !important;
}
#tempo {
	display: block;
	padding-top: 5px;
	padding-left: 10px;	
	font-size: 1.2em;
}
#tempo > span{
	color: black;
	font-weight: bold;
}

.legenda .cor {
	position: relative;
	display: inline-block;	
	width: 20px;
	height: 20px;
	top: 5px;
	margin-right: 5px;
	background-color: aqua;
}

.legenda .descricao {
	display: inline-block;
	width: calc(100% - 25px);
	font-size: .9em;
}

#box-exibicao {
	display: flex;
	width: 100%;
}

#box-ids {
	max-height: 300px;
	overflow-y: hidden;
	width: 50px;
	margin-top: 40px;
}

#box-ids .id-processo {
	width: auto;
	height: 40px;
	background-color: transparent;
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	color: #333;
}

#box-sla {
	display: flex;
	width: calc(100% - 50px);
	flex-wrap: wrap;
}

#box-tempo {
	display: -webkit-box;
	max-height: 300px;
	overflow-x: hidden;
	width: 100%;
	color: #333;
	font-weight: bold;
}

#box-execucao {
	display: -webkit-box;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	color: #333;
	font-weight: bold;
}

.coluna {
	width: 40px;
	height: 100%;
}

.coluna.tempo {
	height: 40px;
}

.celula {
	width: auto;
	height: 40px;
	border: 2px solid white;
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: #dcdcdc
}

.coluna.tempo .celula {
	background: transparent
}

.buffer {
	display: block;
}

.buffer .label {
	font-size: 1.2em;
	padding-left: 3px;
	margin-bottom: 3px;
}

.buffer .label i {
	
}

.buffer .box-fila {
	display: flex;
}

.buffer .topo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background-color: #2ecc71;
	border-radius: 50%;
	color: white;
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	font-size: 0.85em;
}

.buffer .fila {
	width: calc(100% - 35px);
	display: -webkit-box;
	overflow-x: auto;
}

.buffer .fila .item {
	display: flex;
	flex-wrap: wrap;
	width: 25px;
	margin-right: 10px;
}

.buffer .fila .item .processo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25px;
	border-radius: 50%;
	color: #333;
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	font-size: 0.85em;
}

.buffer .fila .item .indice {
	width: 100%;
	text-align: center;
	font-size: 0.7em;
	font-weight: bold;
}
#box-memoria-virtual {
	width: 100%;
	display: flex;
	height: 200px;
	overflow-y: scroll;
}

#box-memoria-virtual .ids {
	padding-right: 10px;
}

#box-memoria-virtual .ids .id {
	height: 40px;
	font-weight: bold;
}

#box-memoria-virtual .paginas {
	flex: 1;
	width: 300px;
	height: 100%;
	overflow-x: hidden;
}

#box-memoria-virtual .paginas .pags-processo {
	width: auto;
	display: -webkit-box;
}

#box-memoria-virtual .paginas .pags-processo .pagina {
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	text-align: center;
}

#box-memoria-virtual .paginas .pags-processo .pagina .referencia {
	width: 20px;
	height: 20px;
	font-size: 0.9em;
	font-weight: bold;
	background-color: #ddd;
}

#box-memoria-virtual .paginas .pags-processo .pagina .id {
	width: 100%;
	font-size: 0.7em;
	
}

.box-memoria {
	display: flex;
	flex-wrap: wrap;
	border-radius: 3px;
	border: 2px solid #333;
}

.celula-memoria {
	display: flex;
	width: 10%;
	height: 40px;
	border: 1px solid #eee;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: Ubuntu;
	font-weight: bold;
}